body {
    font-family: Arial, sans-serif;
    background: url("bg.jpeg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(163, 222, 217, 0.75);
    backdrop-filter: blur(3px);
    z-index: -1;
}

.navbar {
    background: rgba(243, 224, 207, 0.847);
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.nav-left {
    font-weight: bold;
    font-size: 20px;
}

.nav-right a {
    margin-left: 20px;
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.nav-right a:hover {
    color: #e11d1d;
}



.main-heading {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 28px;
}


.pricing-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
}
.card {
    background: rgb(210, 237, 246);
    width: 260px;
    padding: 25px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
    transform: scale(-12px);
}

.price {
    font-size: 28px;
    font-weight: bold;
    margin: 5px 0 15px 0;
}

.price span {
    font-size: 14px;
}
.card ul {
    padding: 0;
    list-style: none;
    margin: 0 0 20px 0;
}

.card ul li {
    margin: 8px 0;
    font-size: 16px;
}
.btn {
    display: inline-block;
    background: #ff4c4c;
    color: rgb(194, 223, 243);
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 15px;

    transition: background 0.2s ease, transform 0.2s ease;
}

.btn:hover {
    background: #d93636;
    transform: scale(1.05);
}
.signup-box {
    background: white;
    width: 300px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.signup-box input {
    width: 100%;
    padding: 8px;
    margin: 10px 0 18px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.signup-box input:focus {
    border-color:#e11d1d;
}
.back-link {
    text-decoration: none;
    color: #e11d1d;
    font-size: 16px;
}

.back-link:hover {
    text-decoration: underline;
    color: #e11d1d;
}

